/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3917px;
  overflow: hidden;
  width: 1440px;
}

.desktop-1 .overlap-group7 {
  height: 3836px;
  margin-top: 0;
  position: relative;
  width: 1450px;
}

.desktop-1 .overlap-group1 {
  height: 3146px;
  left: 76px;
  position: absolute;
  top: 690px;
  width: 1172px;
}

.desktop-1 .vector-8 {
  height: 1254px;
  left: 110px;
  position: absolute;
  top: 1577px;
  width: 948px;
}

.desktop-1 .vector-7 {
  height: 387px;
  left: 354px;
  position: absolute;
  top: 1033px;
  width: 410px;
}

.desktop-1 .vector-6 {
  height: 386px;
  left: 130px;
  position: absolute;
  top: 444px;
  width: 884px;
}

.desktop-1 .ellipse-23 {
  background-color: var(--candlelight);
  border-radius: 154px;
  height: 308px;
  left: 0;
  position: absolute;
  top: 2711px;
  width: 308px;
}

.desktop-1 .ellipse-28 {
  border-radius: 100px;
  height: 200px;
  left: 39px;
  position: absolute;
  top: 2774px;
  width: 200px;
}

.desktop-1 .ellipse-22 {
  background-color: var(--candlelight);
  border-radius: 154px;
  height: 308px;
  left: 836px;
  position: absolute;
  top: 2103px;
  width: 308px;
}

.desktop-1 .ellipse-27 {
  border-radius: 100px;
  height: 200px;
  left: 890px;
  position: absolute;
  top: 2172px;
  width: 200px;
}

.desktop-1 .ellipse-21 {
  background-color: var(--candlelight);
  border-radius: 154px;
  height: 308px;
  left: 6px;
  position: absolute;
  top: 1381px;
  width: 308px;
}

.desktop-1 .ellipse-26 {
  border-radius: 100px;
  height: 200px;
  left: 45px;
  position: absolute;
  top: 1415px;
  width: 200px;
}

.desktop-1 .ellipse-20 {
  background-color: var(--candlelight);
  border-radius: 154px;
  height: 308px;
  left: 825px;
  position: absolute;
  top: 742px;
  width: 308px;
}

.desktop-1 .ellipse-19 {
  background-color: var(--candlelight);
  border-radius: 154px;
  height: 308px;
  left: 1px;
  position: absolute;
  top: 231px;
  width: 308px;
}

.desktop-1 .ellipse-24 {
  border-radius: 100px;
  height: 200px;
  left: 45px;
  position: absolute;
  top: 285px;
  width: 200px;
}

.desktop-1 .ellipse-25 {
  border-radius: 100px;
  height: 200px;
  left: 871px;
  position: absolute;
  top: 810px;
  width: 200px;
}

.desktop-1 .screen-shot-2021-11-22-at-537-2 {
  height: 698px;
  left: 641px;
  object-fit: cover;
  position: absolute;
  top: 1823px;
  width: 531px;
}

.desktop-1 .understand-your-invo {
  height: 94px;
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  top: 695px;
}

.desktop-1 .live-your-timeline {
  height: 47px;
  left: 610px;
  letter-spacing: 0;
  position: absolute;
  top: 1357px;
}

.desktop-1 .with-a-bespoke-line {
  height: 87px;
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  top: 823px;
  width: 371px;
}

.desktop-1 .bring-your-texts-to-life {
  height: 47px;
  left: 568px;
  letter-spacing: 0;
  position: absolute;
  top: 2697px;
}

.desktop-1 .automatically-genera {
  height: 82px;
  left: 568px;
  letter-spacing: 0;
  position: absolute;
  top: 2763px;
  width: 422px;
}

.desktop-1 .organize-your-projects {
  height: 47px;
  left: 203px;
  letter-spacing: 0;
  position: absolute;
  top: 1993px;
}

.desktop-1 .scroll-through-your {
  height: 82px;
  left: 203px;
  letter-spacing: 0;
  position: absolute;
  top: 2090px;
  width: 422px;
}

.desktop-1 .screen-shot-2021-11-23-at-900-1 {
  height: 614px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 434px;
}

.desktop-1 .timeline-1 {
  height: 561px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 1235px;
  width: 280px;
}

.desktop-1 .invoice-1 {
  height: 587px;
  left: 731px;
  object-fit: cover;
  position: absolute;
  top: 606px;
  width: 280px;
}

.desktop-1 .rectangle-24 {
  height: 47px;
  left: 330px;
  position: absolute;
  top: 2172px;
  width: 167px;
}

.desktop-1 .learn-more-1 {
  height: 20px;
  left: 355px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2186px;
  width: 117px;
}

.desktop-1 .chat2-1 {
  height: 574px;
  left: 114px;
  object-fit: cover;
  position: absolute;
  top: 2572px;
  width: 272px;
}

.desktop-1 .overlap-group3 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1450px;
}

.desktop-1 .rectangle-2 {
  height: 655px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-1 .rectangle-1 {
  height: 56px;
  left: 592px;
  position: absolute;
  top: 472px;
  width: 184px;
}

.desktop-1 .every-part-of-your-j {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  height: 180px;
  left: 125px;
  letter-spacing: 0;
  position: absolute;
  top: 184px;
  width: 586px;
}

.desktop-1 .become-an-early-adopter {
  height: 44px;
  left: 628px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 476px;
  width: 117px;
}

.desktop-1 .screen-shot-2021-11-22-at-537-1 {
  height: 658px;
  left: 901px;
  object-fit: cover;
  position: absolute;
  top: 228px;
  width: 313px;
}

.desktop-1 .rectangle-18 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 57px;
  left: 15px;
  position: absolute;
  top: 471px;
  width: 559px;
}

.desktop-1 .email {
  color: #00000066;
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 27px;
  left: 42px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 486px;
  width: 62px;
}

.desktop-1 .rectangle-20 {
  background-color: var(--white);
  height: 256px;
  left: 893px;
  position: absolute;
  top: 655px;
  width: 372px;
}

.desktop-1 .communicate-better {
  height: 47px;
  left: 618px;
  letter-spacing: 0;
  position: absolute;
  top: 839px;
}

.desktop-1 .cornerstone-1 {
  height: 48px;
  left: 15px;
  position: absolute;
  top: 27px;
  width: 48px;
}

.desktop-1 .group-1 {
  align-items: center;
  display: flex;
  height: 64px;
  left: 0;
  min-width: 1450px;
  padding: 5px 59px;
  position: absolute;
  top: 10px;
}

.desktop-1 .ornerstone {
  align-self: flex-end;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 1px;
  width: 123px;
}

.desktop-1 .place {
  height: 18px;
  letter-spacing: 0;
  margin-left: 695px;
  margin-top: 4px;
  width: 40px;
}

.desktop-1 .about {
  cursor: pointer;
  height: 18px;
  letter-spacing: 0;
  margin-left: 46px;
  margin-top: 4px;
  width: 43px;
}

.desktop-1 .features {
  cursor: pointer;
  height: 18px;
  letter-spacing: 0;
  margin-left: 46px;
  margin-top: 4px;
  width: 62px;
}

.desktop-1 .overlap-group {
  align-items: center;
  align-self: flex-end;
  background-image: url(../img/rectangle-1-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 57px;
  min-width: 149px;
  padding: 0 27px;
}

.desktop-1 .get-started {
  height: 20px;
  letter-spacing: 0;
  width: 89px;
}

.desktop-1 .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/rectangle-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  left: 759px;
  min-width: 167px;
  padding: 13px 25px;
  position: absolute;
  top: 1015px;
}

.desktop-1 .learn-more {
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 117px;
}

.desktop-1 .easily-exchange-docu {
  height: 82px;
  left: 648px;
  letter-spacing: 0;
  position: absolute;
  top: 921px;
  width: 422px;
}

.desktop-1 .anticipate-prepare {
  height: 82px;
  left: 686px;
  letter-spacing: 0;
  position: absolute;
  top: 2113px;
  width: 422px;
}

.desktop-1 .overlap-group5 {
  align-items: flex-end;
  background-image: url(../img/rectangle-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  left: 280px;
  min-width: 167px;
  padding: 13px 25px;
  position: absolute;
  top: 1616px;
}

.desktop-1 .overlap-group6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  left: 830px;
  min-width: 167px;
  padding: 13px 25px;
  position: absolute;
  top: 2205px;
}

.desktop-1 .overlap-group2 {
  align-items: flex-end;
  background-image: url(../img/rectangle-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  left: 783px;
  min-width: 167px;
  padding: 13px 25px;
  position: absolute;
  top: 3549px;
}
