/* screen - hamburger-menu */

.hamburger-menu {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 238px;
  width: 375px;
}

.hamburger-menu .header {
  align-items: flex-end;
  display: flex;
  height: 60px;
  min-width: 375px;
  padding: 14px 22px;
}

.hamburger-menu .cornerstone-3 {
  height: 28px;
  width: 28px;
}

.hamburger-menu .rectangle-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1-15@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  margin-left: 164px;
  min-width: 87px;
  padding: 8px 15.9px;
  transition: all 0.2s ease;
}

.hamburger-menu .rectangle-1:hover {
  transform: scale(1.1);
}

.hamburger-menu .get-started {
  height: 11px;
  letter-spacing: 0;
  width: 55px;
}

.hamburger-menu .group-77 {
  align-self: center;
  cursor: pointer;
  height: 16px;
  margin-left: 19px;
  margin-top: 3.78px;
  width: 16px;
}

.hamburger-menu .place {
  cursor: pointer;
  height: 23px;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 30px;
  width: 52px;
}

.hamburger-menu .vector-15 {
  height: 1px;
  margin-left: 1.5px;
  margin-top: 11px;
  width: 202px;
}

.hamburger-menu .about {
  cursor: pointer;
  height: 23px;
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 10px;
  width: 54px;
}

.hamburger-menu .vector-16 {
  height: 1px;
  margin-left: 1.5px;
  margin-top: 14px;
  width: 202px;
}

.hamburger-menu .features {
  cursor: pointer;
  height: 23px;
  letter-spacing: 0;
  margin-top: 6px;
  width: 79px;
}
