/* screen - mobileabout */

.mobileabout {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3938px;
  overflow: hidden;
  width: 375px;
}

.mobileabout .overlap-group12 {
  height: 530px;
  position: relative;
  width: 375px;
}

.mobileabout .rectangle-2 {
  height: 528px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.mobileabout .vector-9 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 478px;
  width: 375px;
}

.mobileabout .header {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 0;
  min-width: 375px;
  padding: 14px 22px;
  position: absolute;
  top: 0;
}

.mobileabout .cornerstone-3 {
  height: 28px;
  width: 28px;
}

.mobileabout .rectangle-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1-15@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  margin-left: 164px;
  min-width: 87px;
  padding: 8px 15.9px;
  transition: all 0.2s ease;
}

.mobileabout .rectangle-1:hover {
  transform: scale(1.1);
}

.mobileabout .get-started {
  height: 11px;
  letter-spacing: 0;
  width: 55px;
}

.mobileabout .group-77 {
  align-self: center;
  cursor: pointer;
  height: 12px;
  margin-left: 16px;
  margin-top: 8.0px;
  width: 22px;
}

.mobileabout .eliminate-the-use-of {
  height: 247px;
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 340px;
}

.mobileabout .our-mission {
  height: 77px;
  left: 69px;
  letter-spacing: 0;
  position: absolute;
  top: 74px;
  width: 259px;
}

.mobileabout .line-12 {
  height: 5px;
  left: 88px;
  position: absolute;
  top: 149px;
  width: 229px;
}

.mobileabout .overlap-group14 {
  height: 52px;
  margin-right: 0.5px;
  margin-top: 19px;
  position: relative;
  width: 212px;
}

.mobileabout .our-team {
  height: 52px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 212px;
}

.mobileabout .line-5 {
  height: 1px;
  left: 22px;
  position: absolute;
  top: 50px;
  width: 190px;
}

.mobileabout .group-13 {
  align-items: flex-start;
  display: flex;
  margin-left: 7.0px;
  margin-top: 48px;
  min-width: 310px;
}

.mobileabout .overlap-group1 {
  height: 350px;
  position: relative;
  width: 306px;
}

.mobileabout .rectangle-4 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 335px;
  left: 0;
  position: absolute;
  top: 0;
  width: 306px;
}

.mobileabout .kalen-bhakta {
  height: 26px;
  left: 87px;
  letter-spacing: 0;
  position: absolute;
  top: 196px;
  width: 131px;
}

.mobileabout .co-founder {
  height: 26px;
  left: 107px;
  letter-spacing: 0;
  position: absolute;
  top: 222px;
  width: 92px;
}

.mobileabout .ellipse-2 {
  background-color: var(--black);
  border-radius: 20px;
  height: 40px;
  left: 133px;
  position: absolute;
  top: 310px;
  width: 40px;
}

.mobileabout .iconly-bold-arrow-down-circle {
  height: 40px;
  left: 133px;
  position: absolute;
  top: 310px;
  width: 40px;
}

.mobileabout .x1610156216822-1 {
  height: 128px;
  left: 89px;
  position: absolute;
  top: 43px;
  width: 128px;
}

.mobileabout .overlap-group18 {
  height: 350px;
  margin-left: 1.0px;
  margin-top: 48px;
  position: relative;
  width: 310px;
}

.mobileabout .overlap-group {
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 306px;
}

.mobileabout .name {
  height: 26px;
  left: 87px;
  letter-spacing: 0;
  position: absolute;
  top: 196px;
  width: 131px;
}

.mobileabout .image-11-23-21-at-7-1 {
  height: 128px;
  left: 90px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 128px;
}

.mobileabout .overlap-group13 {
  height: 350px;
  margin-left: 5.0px;
  margin-top: 48px;
  position: relative;
  width: 310px;
}

.mobileabout .ishaan-grewal {
  height: 26px;
  left: 80px;
  letter-spacing: 0;
  position: absolute;
  top: 196px;
  width: 146px;
}

.mobileabout .techical-co-founder {
  height: 26px;
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  top: 222px;
  width: 152px;
}

.mobileabout .x1639270400093-1 {
  height: 128px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 128px;
}

.mobileabout .overlap-group17 {
  align-items: flex-end;
  background-image: url(../img/group-41-3@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 1548px;
  padding: 102px 28.0px;
  width: 375px;
}

.mobileabout .our-board-of-advisors {
  height: 52px;
  letter-spacing: 0;
  margin-right: 8.0px;
  width: 281px;
}

.mobileabout .line-6 {
  align-self: center;
  height: 1px;
  margin-left: 1.0px;
  width: 238px;
}

.mobileabout .overlap-group4 {
  align-self: center;
  height: 157px;
  margin-right: 1.0px;
  margin-top: 32px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 155px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 300px;
}

.mobileabout .name-1 {
  height: 20px;
  left: 147px;
  letter-spacing: 0;
  position: absolute;
  top: 28px;
  width: 102px;
}

.mobileabout .more-about {
  height: 20px;
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 127px;
  width: 92px;
}

.mobileabout .founding-cto-at-osano {
  height: 20px;
  left: 155px;
  letter-spacing: 0;
  position: absolute;
  top: 69px;
  width: 85px;
}

.mobileabout .ellipse-15 {
  height: 99px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 99px;
}

.mobileabout .group-4-2 {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 14px;
}

.mobileabout .overlap-group5 {
  align-self: center;
  height: 162px;
  margin-left: 3.0px;
  margin-top: 20px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16-1 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 155px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 300px;
}

.mobileabout .name-2 {
  height: 20px;
  left: 147px;
  letter-spacing: 0;
  position: absolute;
  top: 33px;
  width: 121px;
}

.mobileabout .more-about-1 {
  height: 20px;
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 133px;
  width: 92px;
}

.mobileabout .principal-at-crowell-builders-llc {
  height: 20px;
  left: 156px;
  letter-spacing: 0;
  position: absolute;
  top: 91px;
  width: 104px;
}

.mobileabout .ellipse-15-1 {
  height: 99px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 99px;
}

.mobileabout .group-4 {
  height: 18px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 14px;
}

.mobileabout .group-container {
  height: 160px;
  margin-right: 4.0px;
  margin-top: 20px;
  position: relative;
  width: 300px;
}

.mobileabout .overlap-group-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  display: flex;
  height: 155px;
  justify-content: flex-end;
  left: 0;
  min-width: 300px;
  padding: 9.3px 21.5px;
  position: absolute;
  top: 5px;
}

.mobileabout .ellipse-15-2 {
  height: 99px;
  margin-bottom: 7.1px;
  object-fit: cover;
  width: 99px;
}

.mobileabout .flex-col {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 119px;
  width: 132px;
}

.mobileabout .raj-das {
  align-self: flex-start;
  height: 20px;
  letter-spacing: 0;
  width: 102px;
}

.mobileabout .vice-president-of-de {
  height: 20px;
  letter-spacing: 0;
  margin-top: 39px;
  width: 122px;
}

.mobileabout .more-about-2 {
  height: 20px;
  letter-spacing: 0;
  margin-right: 0.19px;
  margin-top: 20px;
  width: 92px;
}

.mobileabout .overlap-group7 {
  height: 158px;
  margin-right: 0;
  margin-top: 33px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16-2 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 155px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 300px;
}

.mobileabout .name-3 {
  height: 20px;
  left: 147px;
  letter-spacing: 0;
  position: absolute;
  top: 29px;
  width: 102px;
}

.mobileabout .more-about-3 {
  height: 20px;
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 92px;
}

.mobileabout .project-development {
  height: 70px;
  left: 156px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
  width: 140px;
}

.mobileabout .ellipse-15-3 {
  height: 99px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 99px;
}

.mobileabout .overlap-group8 {
  height: 158px;
  margin-top: 30px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16-3 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 154px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 298px;
}

.mobileabout .name-4 {
  height: 20px;
  left: 144px;
  letter-spacing: 0;
  position: absolute;
  top: 31px;
  width: 109px;
}

.mobileabout .more-about-4 {
  height: 20px;
  left: 183px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 92px;
}

.mobileabout .managing-partner-at-lawton-management {
  height: 20px;
  left: 153px;
  letter-spacing: 0;
  position: absolute;
  top: 90px;
  width: 122px;
}

.mobileabout .ellipse-15-4 {
  height: 98px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 98px;
}

.mobileabout .group-4-1 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.mobileabout .overlap-group10 {
  height: 160px;
  margin-right: 2.0px;
  margin-top: 12px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16-4 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 155px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 300px;
}

.mobileabout .group-4-3 {
  height: 18px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 14px;
}

.mobileabout .rajul-kadakia {
  height: 20px;
  left: 141px;
  letter-spacing: 0;
  position: absolute;
  top: 31px;
  width: 131px;
}

.mobileabout .more-about-5 {
  height: 20px;
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 130px;
  width: 92px;
}

.mobileabout .serial-entrepreneur {
  height: 20px;
  left: 151px;
  letter-spacing: 0;
  position: absolute;
  top: 72px;
  width: 109px;
}

.mobileabout .ellipse-15-5 {
  height: 99px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 99px;
}

.mobileabout .overlap-group9 {
  height: 157px;
  margin-right: 2.0px;
  margin-top: 26px;
  position: relative;
  width: 300px;
}

.mobileabout .rectangle-16-5 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 4px 6px #00000080;
  height: 154px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 298px;
}

.mobileabout .arlo-gilbert {
  height: 20px;
  left: 143px;
  letter-spacing: 0;
  position: absolute;
  top: 29px;
  width: 101px;
}

.mobileabout .more-about-6 {
  height: 20px;
  left: 182px;
  letter-spacing: 0;
  position: absolute;
  top: 128px;
  width: 92px;
}

.mobileabout .founding-ceo-at-osano {
  height: 26px;
  left: 155px;
  letter-spacing: 0;
  position: absolute;
  top: 65px;
  width: 96px;
}

.mobileabout .ellipse-15-6 {
  height: 98px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 98px;
}

.mobileabout .overlap-group16 {
  height: 104px;
  margin-right: 1.0px;
  margin-top: 47px;
  position: relative;
  width: 340px;
}

.mobileabout .become-an-early-adopter {
  height: 58px;
  left: 25px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 290px;
}

.mobileabout .join-our-group-of-ea {
  height: 73px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 340px;
}

.mobileabout .overlap-group15 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 32px;
  margin-left: 1.0px;
  min-width: 288px;
  padding: 8px 9px;
}

.mobileabout .email {
  background-color: transparent;
  border: 0;
  height: 14px;
  letter-spacing: 0;
  padding: 0;
  width: 269px;
}

.mobileabout .email::placeholder {
  color: #0000003d;
}

.mobileabout .group-83 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-right: 4.0px;
  margin-top: 19px;
  min-width: 67px;
  transition: all 0.2s ease;
}

.mobileabout .group-83:hover {
  transform: scale(1.1);
}

.mobileabout .overlap-group11 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1-14@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 28px;
  min-width: 65px;
  padding: 7px 15px;
}

.mobileabout .join {
  height: 10px;
  letter-spacing: 0;
  text-align: center;
  width: 35px;
}

.mobileabout .group-84 {
  align-items: flex-start;
  display: flex;
  margin-left: 8.0px;
  margin-top: 34px;
  min-width: 383px;
}

.mobileabout .overlap-group-2 {
  height: 245px;
  position: relative;
  width: 375px;
}

.mobileabout .rectangle-26 {
  background-color: var(--candlelight);
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.mobileabout .cornerstone-2 {
  height: 28px;
  left: 20px;
  position: absolute;
  top: 9px;
  width: 28px;
}

.mobileabout .group-24 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  left: 148px;
  min-width: 203px;
  position: absolute;
  top: 14px;
}

.mobileabout .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  min-height: 26px;
  width: 58px;
}

.mobileabout .advisors {
  height: 18px;
  letter-spacing: 0;
  width: 58px;
}

.mobileabout .line-6-1 {
  height: 2px;
  margin-left: 0.95px;
  margin-top: 6px;
  width: 46px;
}

.mobileabout .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  margin-left: 18px;
  min-height: 26px;
  width: 37px;
}

.mobileabout .team {
  height: 18px;
  letter-spacing: 0;
  width: 37px;
}

.mobileabout .line-9 {
  height: 2px;
  margin-left: 3.82px;
  margin-top: 6px;
  width: 29px;
}

.mobileabout .flex-col-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  margin-left: 18px;
  min-height: 26px;
  width: 65px;
}

.mobileabout .investors {
  height: 18px;
  letter-spacing: 0;
  width: 65px;
}

.mobileabout .line-10 {
  height: 2px;
  margin-right: 4.77px;
  margin-top: 6px;
  width: 54px;
}

.mobileabout .join-our {
  height: 25px;
  left: 72px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
  width: 61px;
}

.mobileabout .mobile-app-store-badge {
  height: 27px;
  left: 91px;
  position: absolute;
  top: 67px;
  width: 93px;
}

.mobileabout .mobile-app-store-badge-1 {
  height: 27px;
  left: 212px;
  position: absolute;
  top: 67px;
  width: 82px;
}

.mobileabout .rectangle-27 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 375px;
}

.mobileabout .line-7 {
  height: 5px;
  left: 76px;
  position: absolute;
  top: 215px;
  width: 65px;
}

.mobileabout .line-8 {
  height: 5px;
  left: 220px;
  position: absolute;
  top: 212px;
  width: 72px;
}

.mobileabout .copyright {
  height: 58px;
  left: 73px;
  letter-spacing: 0;
  position: absolute;
  top: 122px;
  width: 223px;
}

.mobileabout .legal-policy {
  height: 16px;
  left: 74px;
  letter-spacing: 0;
  position: absolute;
  top: 190px;
}

.mobileabout .privacy-policy {
  height: 23px;
  left: 213px;
  letter-spacing: 0;
  position: absolute;
  top: 180px;
  width: 83px;
}
