:root { 
  --black: #000000;
  --black-2: #00000066;
  --candlelight: #fed215;
  --royal-blue: #5559e6;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 36px;
 
  --font-family-ibm_plex_sans: "IBM Plex Sans", Helvetica;
}
.ibmplexsans-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-light-black-16px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.ibmplexsans-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-bold-black-44px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-light-black-14px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.ibmplexsans-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-light-black-18px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.ibmplexsans-bold-black-14px-2 {
  color: var(--black-2);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.ibmplexsans-bold-black-20px-2 {
  color: var(--black-2);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-black-18px-2 {
  color: var(--black-2);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.border-2px-black {
  border: 2px solid var(--black);
}

.border-1px-black {
  border: 1px solid var(--black);
}

.border-10px-royal-blue {
  border: 10px solid var(--royal-blue);
}
